button,
input[type=submit] {
  text-transform: uppercase;
  background: none;
  border: 1px solid $main-color;
  font-weight: 700;
  font-size: 1.5rem;
  font-family: 'Segoe Print';
  transition: all 0.2s;
  position: relative;
  z-index: 2;
  &[disabled] {
    color: ff0000;
    background: $second-color;
    border-color: $warning-color;
    transform: rotate(-10deg) scale(1.1) translateX(0%) translateY(-100%);
    &:hover {
      color: $warning-color;
      cursor: not-allowed;
    }
    &:after {
      display: none;
    }
  }
  &:after {
    content: '';
    z-index: -1;
    display: block;
    background: $main-color;
    position: absolute;
    width: 100%;
    height: 0;
    left: 0;
    top: 0;
    transition: all 0.2s;
  }
  &:hover,
  &:focus {
    color: $second-color;
    outline: 0;
    &:after {
      height: 100%;
    }
  }
  &.warning {
    &:after {
      background: $warning-color;
    }
  }
  &.success {
    &:after {
      background: $eighth-color;
    }
  }

  &.github,
  &.facebook,
  &.twitter {
    border: 0;
    display: block;
    margin-bottom: 2rem;
    width: 100%;
    color: $second-color;
    padding: 2rem;
  }

  &.github {
    background: $fourth-color;
    &:after {
      background: darken($fourth-color, 20%);
    }
  }

  &.facebook {
    background: $fifth-color;
    &:after {
      background: darken($fifth-color, 20%);
    }
  }

  &.twitter {
    background: $sixth-color;
    &:after {
      background: darken($sixth-color, 20%);
    }
  }
}
