.ice-cream__edit {
  margin-bottom: 20px;
  border: 2px solid $main-color;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  input,
  textarea,
  select {
    width: 33.33%;
    padding: 10px;
    line-height: 1;
    font-size: 1.2rem;
    border: 0;
    border-bottom: 1px solid $main-color;
    border-right: 1px solid $main-color;
    border-radius: 0;
    background: $second-color;
    &:focus {
      outline: 0;
      background: lighten($third-color, 85%);
    }
  }
  textarea {
    width: 100%;
  }
  input:last-of-type {
    width: 100%;
  }
  button {
    width: 100%;
    border: 0;
  }
}
