/*---------- 'FONT' ----------*/
$fa-font-path: "fonts";

$main-color: #000000;
$second-color: #ffffff;
$third-color: #ffa500;
$fourth-color: #82d465;
$fifth-color: #3864a3;
$sixth-color: #5ea9dd;
$seventh-color: #d4d4d4;
$eighth-color: #008000;

$warning-color: #ff0000;
